
body, html {
    background-image: url("back.jpg");
    background-size: cover;
    height: 100%;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.2);
}

.header-h1 {
    position: relative;
    margin-bottom: .5rem;
}
.header-h1::after {
    content: "";
    position: absolute;
    border-top: 2px solid #bb945c;
    border-bottom: 2px solid #bb945c;
    height: .375rem;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
}
.header-h1 h1 {
    font-size: 2rem;
    color: rgb(113, 87, 158);
    display: inline-block;
    margin-bottom: 0;
    padding-right: 1rem;
    text-transform: uppercase;
}
.header-row {
    max-width: 100%;
}
.header-h1-center {
    opacity: .3;
    text-align: center;
    background-color: rgb(144, 160, 140);
}
.header-h1-center h1 {
    padding-left: 1rem;
}
.header-h1-right {
    text-align: right;
}
.header-h1-right h1 {
    padding-left: 1rem;
    padding-right: 0;
}

.navbar {
    background: none;
}

.nav-item {
    color: rgb(113, 87, 158);
    margin-right: 3em;
}

.nav-lk {
    color: rgb(113, 87, 158) !important;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbuttontrp:hover {
    background-color: rgb(144, 160, 140);
}

.special-card {
    background-color: rgb(144, 160, 140);
    opacity: .15;
}

.special-card:hover {
    opacity: .9;
}

.transpar {
    opacity: .9;
}

.cards {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 90%;
}

.card {
    height: 100%;
    min-width: 350px;
}

.card-img-top {
    height: 60%;
}

